div > div {
  display: flex;
  flex-direction: row;
}

div > div > 
input[type='text'] {
  margin-bottom: 10px;
  width: 250px;
}
div > div > 
select {
  margin-right:60px;
  margin-bottom: 10px;
  width: 150px;
  text-align: left;
}

div > div {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

div > button[type='submit'] {
  position: relative;
  left:495px;
}
