<div>
  <h1>Aareon Angular Test</h1>
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-wrapper">
    <div class="row">
      <div>
        <div>
          <label>Title</label>
        </div>
        <div>
          <select formControlName="title" class="title-box">
            <option value="">-- Select an option --</option>
            <option [value]="title.name" *ngFor="let title of titles">
              {{ title.name }}
            </option>
          </select>
        </div>
      </div>
      <div>
        <div>
          <label>First name</label>
        </div>
        <div>
          <input
            formControlName="firstName"
            class="form-control"
            type="text"
            placeholder="First name"
          />
        </div>
      </div>
      <div>
        <div>
          <label>Last name</label>
        </div>
        <div>
          <input
            formControlName="lastName"
            class="form-control"
            [ngClass]="
              form?.get('lastName')?.touched && form?.get('lastName')?.errors
                ? 'text-box-error'
                : ''
            "
            type="text"
            placeholder="Last name"
          />
        </div>
      </div>
      <div
        class="has-error"
        *ngIf="form?.get('lastName')?.touched && form?.get('lastName')?.errors"
      >
        <span> * Last Name is mandatory </span>
      </div>
      <div>
        <input value="true" formControlName="acceptTerms" type="checkbox" />
        <label>I accept the terms & conditions</label>
      </div>
    </div>
    <div>
      <button [disabled]="!form.get('acceptTerms').value" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
