div > div {
  display: flex;
  flex-direction: row;
}

div > div > input[type='text'] {
  margin-bottom: 10px;
  width: 250px;
}
div > div > select {
  margin-right: 65px;
  margin-bottom: 10px;
}

div > div {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

div > button[type='submit'] {
  float: right;
  margin-right: 90px;
}
div > input[type='checkbox'] + label {
  margin-left: 7px;
}
.has-error {
  color: red;
}
.text-box-error {
  border-color: red;
}
