div > div {
  display: flex;
  flex-direction: row;
}

div > div > 
input[type='text'] {
  margin-bottom: 10px;
  width: 500px;
}
div > div > 
select {
  margin-bottom: 10px;
  width: 200px;
  text-align: left;
}



div > div {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}


